<nav class="nav-menu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">
                🏠 Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/gene-data">
                🧬 Gene Data
            </NavLink>
        </li>
    </ul>
</nav>
